
 .header {
  /* padding: 1rem 1rem; */
  width: 100%;
  z-index: 9;
}
#masthead{
  /* background-color: white; */
}
.main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, a.cart-contents:hover, .site-header-cart .widget_shopping_cart a:hover, .site-header-cart:hover > li > a, .site-header ul.menu li.current-menu-item > a, .main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .storefront-handheld-footer-bar a:not(.button), button.menu-toggle, button.menu-toggle:hover, .handheld-navigation .dropdown-toggle {
  font-weight: bold;
}
.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a,  .storefront-handheld-footer-bar a:not(.button), button.menu-toggle, button.menu-toggle:hover, .handheld-navigation .dropdown-toggle{
  /* color:white; */
}
.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a{
  padding: 0.5rem;
}
.site-header[role="banner"]{
  /* padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 2.5rem !important; */
  padding: 0rem;
}
.site-branding{
  /* display: none !important; */
}
.storefront-primary-navigation .col-full{
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}

.main-navigation ul.menu, .main-navigation ul.nav-menu{
  /* display: flex; */
  /* flex-direction: row; */
}

.site-header[role="banner"] > .col-full{
  display: none !important;

}
.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a{
  /* padding: 0 1rem !important; */
}

.main-navigation{
  /* position: relative;
  left: inherit; */
}
.woocommerce-active .site-header .main-navigation{
  width: 100%;
}
.primary-navigation{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* para el footer */

.site-info{
  padding: 0rem;
  margin: 0rem;
}

body{
    /* font-family: Arial; */
}

/* para el header */
.site-search{
  margin: 1rem;
  min-width: 11rem;
}
.site-header-cart{
  min-width: 11rem;
}
.site-header .custom-logo-link img, .site-header .site-logo-anchor img, .site-header .site-logo-link img{
  height: 6rem;
  width: auto;
  margin-right:  2rem;
}
/* menu responsive */
.storefront-hamburger-menu-active .main-navigation .handheld-navigation, .storefront-hamburger-menu-active .main-navigation div.menu{
  overflow-y: hidden;
}


.t-white { color: #ffffff;}
.t-black { color: #000000;}
.b-white { background-color: #ffffff;}
.b-black { background-color: #000000;}
.t-black__hover:hover { color: #000000;}
.t-white__hover:hover { color: #ffffff;}
.t-right { text-align: right; }
.t-left{text-align: left;}
.t-center { text-align: center; }
.e-center {
  margin-left: auto;
  margin-right: auto;
}
.j-center {
  justify-content: center;
}
.j-end {
  justify-content: flex-end;
}
.j-start {
  justify-content: flex-start;
}
.a-center {
  align-items: center;
}
.a-start {
  align-items: flex-start;
}
.a-end {
  align-items: flex-end;
}























ul.products li.product {
	width: 46.411765%;
	float: left;
	margin-right: 5.8823529412%;
}

ul.products li.product:nth-of-type( 2n ) {
	margin-right: 0;
}































html, body, h1, h2, h3, h4, h5, h6, ul, li, figure, .row {
  margin: 0;
  padding: 0;
}

.b-red { background-color: #be1522; }

.logo__section {
  padding: 4em;
}

.full-width { width: 100%; }

.d-flex { display: flex; }

.j-end { justify-content: flex-end; }

.a-center { align-items: center; }

.a-end{align-items: flex-end;}

.footer__logo__figure {
  height: 8rem;
  margin-left: 1rem;
  margin-right: 4rem;
  width: auto !important;
}
.footer__logo__figure img {
  width: 10rem !important;
}

.e-center { margin-left: auto; margin-right: auto; }

.footer__info {
  border-left: 2px solid #ffffff;
}

.t-white { color: #ffffff; }

.footer__info {
  border-left: 2px solid #ffffff;
}


.t-bold { font-weight: bold; }


.no-list { list-style: none; }

.t-black { color: #000000; }

.t-hover-black:hover { color: #000000; }

.b-black { background-color: #000000; }

.jeje h5{
	color: #ffffff;
}



.j-center { justify-content: center; }


.logo {
  width: 14em;
  margin: 2em 0 0em 0em;
}



.t-black { color: #000000; }



.t-hover-white:hover { color: #ffffff; }

.b-hover-black:hover { background-color: #000000; }


.navbar{
  padding: 0rem 1rem;
}

.b-black { background-color: #000000; }


.header__nav li {
  padding: 0 1em;
  font-weight: bold;
  font-size: 1.1em;
}

.header__nav li a{
  padding: 0.7rem 0.7rem;
}

.j-center { justify-content: center; }

nav ul {
  list-style: none;
}




.b-hover-red:hover { background-color: #be1522; }




.t-hover-white:hover { color: #ffffff; }



.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.clase {
  height: 2rem;
}












@media only screen and (max-width: 999px) {
  .servicio .descripcion{
    padding: 1rem 0rem;
  }
  .servicio .descripcion h4{
    font-size: 1.2rem;
    font-weight: bold;
  }
  .rep__categories[id="segundo"]{
    margin-top: 0px !important;
  }
  .fondo_carrousel {
    background-size: contain;
  }
  .m-flex {
    display: flex !important;
  }
  body {
    font-size: 16px;
  }
  .mobile-hidde {
    display: none;
  }
  .header__nav .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .hero {
    height: 40vh;
  }

  .hero__title {
    font-size: 2em;
    font-weight: bold;
  }
  .hero__btn {
    width: 100%;
    font-size: 1.2em;
    margin: 1em 0;
    box-shadow: -2px 4px 8px 1px rgba(138,138,138,0.6)
  }

  .hero__mobile__background {
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo__section {
    padding: 1em;
  }
  .footer__info {
    border-top: 2px solid #ffffff;
    margin: 1em 0;
    padding: 1em 0;
    border-left: 0;
  }
  .about__img {
    margin: -38% auto 0em;
    position: relative;
    width: 100%;
  }
  .w-50 {
    width: 90% !important;
  }
  .carousel__description {
    /*align-items: start;*/
  }
  .carousel__title {
    font-size: 1em;
    margin-bottom: 0;
  }
  .carousel__description p {
    font-size: .9em;
    margin-bottom: .2em;
  }
  .carousel__btn {
    font-size: .8em;
    padding: .1em 2em;
    margin: 0;
  }
  .carousel__services {
    height: 40vh;
  }
  .form__contacto {
    width: 90%;
  }
  .descripcion__servicio .col1{
    width: 40%;
  }
  .descripcion__servicio .col2{
    width: 60%;
  }
}









@media only screen and (max-width: 850px){
  .descripcion__servicio .col1{
    height: 100%;
    display: none;
  }
  .descripcion__servicio .col2{
    width: 100%;

  }
  .descripcion__servicio[id="acer"] .col2{
    background-image: url('../tech-hospital/assets/img/imagen\ acer.png');
    background-size: 100% auto;
    background-position: center;
    min-height: 20rem;
  }
  .descripcion__servicio[id="apple"] .texto,.descripcion__servicio[id="benq"] .texto,.descripcion__servicio[id="hp"] .texto{
    min-height: 20rem;
  }
}

@media ( min-width: 768px ) {
	ul.products li.product:nth-of-type( 2n ) {
		margin-right: 5.8823529412%;
	}
}


@media only screen and (max-width: 600px){
  .servicio{
    width: 20rem;
  }
  .servicio .descripcion{
    text-align: center;
  }
  #section__tambien a img {
    width: 5rem !important;
  }
  .descripcion__servicio[id="apple"] .texto,.descripcion__servicio[id="benq"] .texto,.descripcion__servicio[id="hp"] .texto{
    background-size: auto 100%;
  }
 
}
@media only screen and (max-width: 480px){
  .header__title h1{
    font-size: 1.5rem;
  }
  .descripcion__servicio[id="acer"] .col2{
    background-size: auto 100%;
  }
}
















